################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.nupkg
/Source/**/bin/**/*
/Source/**/obj/**/*
/Source/**/packages/**/*
/Source/Actions/*/scripts/**/*
/Source/Commomn/*/scripts/**/*